.main {
	font-family: "Myriad Set Pro","Lucida Grande","Helvetica Neue",
	             "Helvetica","Arial","Verdana","sans-serif";
}

.marketplace {
	text-align: center;
}

.listSection {
	font-family: "Helvetica Neue";
	display: inline-flex;
	width: 100%;
}

.tagBar {
	/*width: 165px;*/
	height: 490px;
	left: 15px;
	border: 1px solid rgb(242, 242, 242);
	background-color: rgb(51,181,229);
}

.tagBarText {
	font-size: 14px;
	color: white;
	letter-spacing: .8px;
	text-align: center;
	line-height: 25px;
	margin-top: 12%;
}


.searchFeedStack {
	width: 100%;
	margin-top: -19px;
}

.search {
	background-color: gray;
}

.feed {
	background-color: green;
}

.homeTop {
	margin-top: 18px;
	padding-top: 55px;
	padding-bottom: 55px;
	margin-left: auto;
	margin-right: auto;
}



/*  SECTIONS  */
.section {
	clear: both;
	padding: 0px;
	margin: 0px;
}

/*  COLUMN SETUP  */
.col {
	display: block;
	float:left;
	margin: 1% 0 1% 1.6%;
}
.col:first-child { margin-left: 0; }


/*  GROUPING  */
.group:before,
.group:after {
	content:"";
	display:table;
}
.group:after {
	clear:both;
}
.group {
    zoom:1; /* For IE 6/7 */
}
/*  GRID OF THREE   ============================================================================= */

	
.span_3_of_3 {
	width: 100%; 
}

.span_2_of_3 {
	width: 66.13%; 
}

.span_1_of_3 {
	width: 22.26%%; 
}


/*  GO FULL WIDTH AT LESS THAN 480 PIXELS */

@media only screen and (max-width: 713px) {
	.span_3_of_3 {
		width: 100%; 
	}
	.span_2_of_3 {
		width: 100%; 
	}
	.span_1_of_3 {
		width: 100%;
	}
}